{{question.title}}

Author: {{question.user}}

Answers to {{question.user}}'s question:

<ul>
  {{#each question.answers as |answer|}}
    <li>{{#link-to 'answer' answer.id}}{{answer.author}}'s answer.{{/link-to}}</li>
  {{/each}}  
</ul>
