<h2>About this Site</h2>

<p>
  This site is created using ember. Please visit the Github repository below for additional information on the design of this program.
</p>
<ul>
  <li><a href="https://github.com/droycho/questions.git">Github Repository for "Questions"</a></li>
  <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
</ul>
