<h2>Contact:</h2>
<ul>
  <li><a href="https://github.com/droycho/questions.git">Github Repository for "Questions"</a></li>
  <li>Email: djroychoudhury@gmail.com</li>
  <li>
    {{#link-to 'about'}}About{{/link-to}}
  </li>
  <li>
    {{#link-to 'index'}}Home{{/link-to}}
  </li>
</ul>
